<%- include("header",{type:''}) %>
<div class="parallax-container">
    <div class="parallax"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1529754880&di=f01fc1922fceef86e5fd6bee4da01a51&src=http://pic1.win4000.com/wallpaper/f/5819505a881d0.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Freedom blog</h2>
      <p class="grey-text text-darken-3 lighten-3">制作团队：尹健瑾  叶建飞</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1529754880&di=7b05da72f43aba1ba852f977333508f7&src=http://pic1.win4000.com/wallpaper/f/5819505cce461.jpg"></div>
    <script></script>
