<%- include("header",{type:'more'}) %>

<div class="carousel carousel-slider">
       
        <a href="http://www.baidu.com/" target="_blank" style="float: left;">欢迎访问百度</a> 
        <a href="http://www.runoob.com/" target="_blank" style="float: left;">欢迎访问CSDN</a> 
        <a href="http://www.runoob.com/" target="_blank" style="float: left;">欢迎访问菜鸟教程</a> 
    <a class="carousel-item" href="#one!"><img src="https://uploadfile.bizhizu.cn/2014/1127/20141127040510389.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="http://bpic.ooopic.com/16/71/30/16713011-92f5ea9642e1534abd4c5e30ec793cba-2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="http://img.tuku.cn/file_thumb/201404/m2014040717215587.jpg"></a>
      </div>
            
          
    <script>     $(document).ready(function(){
            $('.carousel').carousel();
          });
              </script>